* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
    height: auto;
    max-width: 100vw;
    }
body {
    margin-left: auto;
    margin-right: auto;
}

.Title_with_button {
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 150%;
    line-height: 16px;
    color: #FF0043;
    font-weight: 700;
    line-height: 23px;
}

.try_beta {
    background: #FF0043;
    -webkit-box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
    box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
    border-radius: 23px;
    border: 0px;
    color: #FFFFFF;
    width: 94px;
    height: 46px;
    cursor: pointer;
    font-size: 80%;
}

.button_after_text {
    background-color: #FF0043;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    border: 0px;
    width: 275px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content_group_6 {
    color: #00194A;
    padding-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.first {
    font-weight: 500;
    font-size: 65px;
    line-height: 146%;
    text-align: center;
}

.content {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    height: 100%;
}
.content>*{
    margin-top: 15px;
    margin-bottom: 15px;
}
.download {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.download>.android,
.download>.iPhone,
.download>.Mac_Windows {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 80%;
    font-weight: 300;
    font-size: 16px;
    line-height: 162%;
    /* or 162% */
    color: #00194A;
}

.android>article>div>span,
.iPhone>article>div>span,
.Mac_Windows>article>div>span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #00194A;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.android>article>div,
.iPhone>article>div,
.Mac_Windows>article>div {
    margin-top: 5%;
}

.android,
.iPhone,
.Mac_Windows {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    cursor: pointer;
}

#Android {
    width: 60px;
    height: 60px;
}

#Apple {
    width: 60px;
    height: 60px;
}

#Windows {
    width: 102px;
    height: 60px;
}

main,
footer {
    color: #00194A;
}

.group_3,
.group_4,
.group_5,
.group_6 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#content{
    width: auto;
    height: auto;
}
.group_3>article {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 5%;
}

.group_3>article>span {
    font-weight: 500;
    font-size: 35px;
    line-height: 146%;
}

.group_3>article>div>section,
.group_3>article>div>footer {
    font-weight: 300;
    font-size: 18px;
    line-height: 156%;
    mix-blend-mode: normal;
    margin-top: 10%;
}

.group_4 {
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.text_gr_4 {
    width: 60%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.text_gr_4>span {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 7%;
}

.text_gr_4>section,
.text_gr_4>footer {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 5%;
}

.content_gr_4 {
    width: 55%;
    height: fit-content;
}

.share,
.messge,
.security {
    width: 100%;
    height: 209px;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.share>img,
.messge>img,
.security>img {
    width: 60px;
    height: 60px;
}

.share>span,
.messge>span,
.security>span {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.share>section,
.share>footer,
.messge>footer,
.security>footer,
.messge>section,
.security>section {
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #00194A;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.share {
    margin-top: auto;
    margin-bottom: auto;
}

.group_5 {
    width: 83%;
    margin-bottom: 10%;
}

.group_5>article {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.group_5>article>span {
    margin-bottom: 5%;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.group_5>article>section {
    margin-top: 5%;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.women {
    z-index: 1;
}

.group_6 {
    margin-bottom: 5%;
    width: 83%;
    background: #00194A;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    padding: 50px;
}

.group_6>* {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.group_6>button {
    margin-top: 35px;
    width: 275px;
    height: 60px;
    border: 0px;
    background: #FF0043;
    border-radius: 30px;
    cursor: pointer;
}

.group_6>span {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.group_6>section {
    width: 48%;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.navigation {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.reference {
    width: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 2%;
}
.reference>a{
    margin-left: 32px;
    margin-right: 32px;
}
A {
    color: #00194A;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 
